.card {
  &-image {
    margin-top: 10px;
  }

  &:hover {
    background-color: rgb(247, 214, 220);
    transition: all 0.5s;
  }
}
.media {
  align-items: center;
}

.title {
  font-size: 25px;
}

.content {
  font-size: 14px;
  text-align: center;
} 
