.page {
  display: grid;
  grid-template: auto / 1fr 400px;
  column-gap: 1px;
  min-height: 100vh;
}

.page-content {
  padding: 20px;
  background-color: rgb(255, 246, 246);
}

.sidebar {
  padding: 20px;
  border-left: 1px solid lightgray;

  transition: all 1s;

  &:hover {
    background-color: rgb(255, 189, 244);
  }
}
