iframe {
  display: none;
}

.page-content {
  padding: 20px;
}

.page {
  display: grid;
  grid-template: auto / 1fr 400px;
  column-gap: 20px;
  min-height: 100vh;
}

.sidebar {
  padding: 20px;
  border-left: 1px solid lightgray;
}
